<div class="container">

  <h1>Angular 22 + Python FastAPI</h1>

  <p class="status">
    🚀 Angular UI is working
  </p>

  <p class="status">
    🐍 Python API: http://127.0.0.1:8000
  </p>


  <!-- ERROR -->

  @if (error()) {
    <div class="error">
      {{ error() }}
    </div>
  }


  <!-- USER FORM -->

  <div class="form">

    @if (editingUserId() === null) {
      <h2>Create User</h2>
    } @else {
      <h2>Edit User</h2>
    }


    <input
      type="text"
      placeholder="Name"
      [ngModel]="formName()"
      (ngModelChange)="formName.set($event)"
    />


    <input
      type="email"
      placeholder="Email"
      [ngModel]="formEmail()"
      (ngModelChange)="formEmail.set($event)"
    />


    @if (editingUserId() === null) {

      <button
        type="button"
        (click)="createUser()"
        [disabled]="loading()"
      >
        Create User
      </button>

    } @else {

      <button
        type="button"
        (click)="updateUser()"
        [disabled]="loading()"
      >
        Update User
      </button>

      <button
        type="button"
        class="cancel"
        (click)="cancelEdit()"
      >
        Cancel
      </button>

    }

  </div>


  <!-- LOADING -->

  @if (loading()) {
    <p>Loading...</p>
  }


  <!-- USERS -->

  <h2>Users</h2>

  @if (!loading() && users().length === 0) {

    <p>No users found.</p>

  } @else {

    @for (user of users(); track user.id) {

      <div class="user">

        <div class="user-info">

          <h3>
            {{ user.name }}
          </h3>

          <p>
            {{ user.email }}
          </p>

        </div>


        <div class="actions">

          <button
            type="button"
            (click)="editUser(user)"
          >
            Edit
          </button>


          <button
            type="button"
            class="delete"
            (click)="deleteUser(user)"
          >
            Delete
          </button>

        </div>

      </div>

    }

  }

</div>